# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    
    steps:
      - name: run shell commands
        run: echo "venkat"
      - name: multiple comands
        run: |
          node -v
          npm -v
